@{
    ViewData["Title"] = "Change Admin Password";
}

<h2 class="text-center mt-4">🔑 Change Password</h2>

<form method="post" class="w-50 mx-auto mt-4">
    @Html.AntiForgeryToken()

    <div class="mb-3">
        <label>Old Password</label>
        <input type="password" name="oldPassword" class="form-control" required />
    </div>

    <div class="mb-3">
        <label>New Password</label>
        <input type="password" name="newPassword" class="form-control" required />
    </div>

    <button class="btn btn-success w-100">Change Password</button>

    @if (ViewBag.Message != null)
    {
        <p class="text-info text-center mt-2">@ViewBag.Message</p>
    }
</form>
